@font-face {
    font-family: Recoleta;
    src: url(fonts/Recoleta-Black.ttf);
}
@font-face {
    font-family: Lil Stuart;
    src: url(fonts/lil\ stuart\ alt.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
#first{
    display: block;
    padding: 70px 0 600px;
    background-color: rgb(178, 130, 191);
    background-image: url(images/background.gif);
    background-size: cover;
    background-position: center;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
}
#f1{
    font-size: 70px;
    font-family: Recoleta;

}
#f2{
    font-size: 90px;
    font-family: Lil Stuart;
    color: white;
    text-shadow: rgb(116, 67, 21) 4px 4px;
}
#nav{
    background-color: rgb(178, 130, 191);
    display: block;
    background-image: url(images/navback.gif);
    background-size: cover;
    background-position: center;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
}
#nav-text{
    font-size: 20px;
    font-weight: 800;
    color: white;
}
#head{
    font-size: 48px;
    font-family: Recoleta;
    text-align: center;
    padding: 10px 0 25px;
    background-image: url(images/carton1.png);
    background-position: center;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    color: white;
    text-shadow: rgb(117, 68, 131) 4px 4px;
}
p{
    font-size: 20px;
    text-align: justify;
}
.padded{
    padding: 50px 0 50px;
}
#lr{
    text-align: center;
}
#f3{
    font-family: Lil Stuart;
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    color: rgb(169, 104, 187);
    background-color: black;
    text-shadow: white 2px 2px;
}
#textt{
    padding: 10px 0 10px;
}
#presentation, #links{
    background-color: rgb(246, 228, 208);
}
#head2{
    font-size: 48px;
    font-family: Recoleta;
    text-align: center;
    padding: 15px 0 15px;
    background-image: url(images/carton22.png);
    background-position: center;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    color: white;
    text-shadow: rgb(117, 68, 131) 4px 4px;
}
#head3{
    font-size: 48px;
    font-family: Recoleta;
    text-align: center;
    padding: 20px 0 20px;
    background-image: url(images/carton33.png);
    background-position: center;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    color: rgb(246, 228, 208); 
    text-shadow:  black 4px 4px;
}
#contact{
   background-image: url(images/final.jpg);
}
#icon{
    font-size: 30px;
    text-align: center;
    color: rgb(178, 130, 191);
}
.bi.bi-person-circle{
    color: rgb(178, 130, 191);
    font-size: 30px;
}
#th1{
    background-color: rgb(178, 130, 191);
    font-family: Lil Stuart;
    font-size: 22px;
    color: brown;
}
#th2{
    color: brown;
    font-family: Lil Stuart;
    font-size: 22px;
}